div#header{
   
    position: absolute;
    top: 0px;
    left: -2px;
  
    width: 300px;

    border-bottom: 3px solid #AAA;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
}

div#header h1{
    color: #AAA;
    font-family: sans-serif;
    font-size: 14px; 
    margin-bottom: 8px;
    text-align: center
}

div#body{
    max-width: 700px;
    background-color: white;
    margin-left: 212px;
    margin-top: 54px;
    border: #DDD 1px solid;
    border-radius: 10px;
    padding: 25px;
    width: 700px;
    

    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    
    margin: -348px 0 0 -340px;
    height:659px;
}

body{
    background-color: #FCFCFC;
}

div#footer{
    bottom: 0px;
    position: absolute;
    margin: 8px;
}

#main #title{
    color: #AAA;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px; 

}

div#menucontainer{
    width: 100%;
    padding: 2px;
    border-bottom: 1px solid #DDD;
    height: 30px;
    top: 2px;
    position: absolute;
    left: -1px;
    display: flex;
    padding-top: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:-2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:rgb(240, 240, 240);
    border: 1px solid #DDD;

}
div#menu{
    padding-left: 25px;
    padding-top: 3px;
    display: flex;
    flex-direction: row;
}

div#menu #login{
    display: flex;
    flex-direction: row;
    right:15px;
    position:absolute;
}

div#menu #login input{
    width:100px;
    margin-right:10px;
}

#login button{
    padding: 3px;
    background-color: #BBB;
    color: white;
    outline: none;
    border: none;
    padding-right: 8px;
    padding-left: 8px;
}

#login button:hover{
    
    background-color: #AAA;

}

div#menu span, div#menu a {
    margin:0px;
    padding:2px;
}

div#menu a {
    margin-left:20px;
    padding-left: 10px;
    padding-right:10px;
    border-right: #FF7200 solid 1px;
    border-left: #FF7200 solid 1px;
}

div#menu a:hover {
    transition:none;
    text-decoration:none;
    margin-left:20px;
    padding-left: 10px;
    padding-right:10px;
    border-right-color: #FF7200;
    border-left-color: #FF7200;

}

div#menu span{
    /* border-right: #CCC solid 1px; */
    margin-right: 5px;
    padding-right: 10px;
    font-family: sans-serif;
    color: #AAA;
}

a {
    color: #FF7200;
    font-family: sans-serif;
    text-decoration:none;
}

a:hover{
    color: #333;
    transition: all linear .7s;
    text-decoration: underline;
}

.panel{
    
    max-width: 255px;
    height: 100px;
    display: flex;
    margin: 10px;
    padding: 10px;
    /* border: #DDD 1px solid; */
    flex-flow: column;
    font-family: sans-serif;
    border-radius: 10px;
}

.panel .panelHeader{

    font-size: x-large;
    color: #333;
    /* display: inline-flex; */
    font-weight: bold;
    padding-bottom: 10px;
}

.panel .panelContent{
    font-size: large;
    
}

#showBody{
    display:flex;
    flex-wrap:wrap;
}

#editButtons{
    display: flex;
    text-align: center;
    width: 100px;
    margin-left: 206px;
}
#editButtons button{
    outline: none;
    padding: 9px;
    border-radius: 9px;
    background-color: inherit;
    border: 2px solid #333;
    color: #333;
    margin: 10px;
    min-width: 110px;
}

#editButtons button:hover{
    border: 2px solid #FF7200;
    color: #FF7200;
    transition: .25s all linear;
}

#BookInfo{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

#message{
    padding: 13px;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 11px;
    display:flex;
    font-family: sans-serif;
    color: #333;
}

#message div.fa{
    display:none;
}

#message.success{
    background-color: #b0eca5;
    color: #71966a;
}

#message.success div.fa.fa-check{
    display:block;
    margin-right: 20px;
    color: #71966a;
}

#message.error{
    background-color: #eca5a5;
    color: #c55454;
}

#message.error div.fa.fa-times{
    display:block;
    margin-right: 20px;
    color: #c55454;
}

div.fieldError{
    width:100%;
    padding:0;
    padding-bottom:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    color: #c55454;
    font-family:sans-serif;
}
div.fieldErrors span{
    padding-left:10px;
}


input{
    color: #333 !important;
    outline:none;
    border:0;
    border-bottom: #555 1px solid;
}

input:focus{
    border-bottom: #FF7200 1px solid;
}